.perfil-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  height: 100vh;
  padding: 20px;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-info label {
  margin-bottom: 10px; /* Añade espacio debajo de la etiqueta */
}

.perfil-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px; /* Añade espacio debajo de la imagen */
}

.perfil-info div {
  text-align: center; /* Centra el texto horizontalmente */
}

.perfil-info h2 {
  margin-bottom: 10px;
  font-size: 24px; /* Aumenta el tamaño de la fuente */
}

.perfil-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.perfil-actions button {
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px; /* Reduce el padding de los botones */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
}

.perfil-actions button:hover {
  background-color: #45a049;
}

.formulario-solicitud {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #FFFB7D;
  background-image: linear-gradient(45deg, #FFFB7D 0%, #85FFBD 57%, #ffffff 100%);
  padding: 20px;
  border-radius: 10px; /* Agrega bordes redondeados al formulario */
}

.formulario-solicitud h3 {
  margin-bottom: 30px;
  font-size: 30px; /* Aumenta el tamaño de la fuente */
}

/* Otros estilos según sea necesario */
